FROM meltwaterfoundation/drone-awscli:1.18.106
LABEL name=awsudo/awsudo
LABEL version="v{{version}}"
LABEL maintainer="awsudo opensource <awsudo.opensource@meltwater.com>"

RUN apk add --update nodejs
RUN apk add --update npm
RUN npm i -g awsudo@{{version}}
